.hide {
    display: none;
}

:root {
    --main-color: #4d5ae5;
    --primary-color: #2E2F42;
    --label-color: #8e8f99;
    --font-color: #2E2F42;
    --background-color: #404bbf;
    --icon-fill-color: #F4F4FD;
    --link-color: #4d5ae5;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    list-style-type: none;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
/*
.section.one {
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/img11.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}
*/

.container-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.section.four {
    background-color: #FFFFFF;
    color: #434455;
    padding-top: 120px;
    padding-bottom: 120px;
}

.button {
    display: block;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}

.logo-light {
    color: #F4F4FD;
}

.footer {
    background-color: #2e2f42;
    color: #F4F4FD;
    padding: 100px 0;
}


.link.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}

.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.header-text {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    line-height: 1.2;
    margin-bottom: 8px;

}

.strategy-item {
    width: calc((100% - 72px) / 4)
}

.logo-footer {
    letter-spacing: 0.03em;
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.contacts {
    font-style: normal;
}

.section.three {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team.list {
    display: flex;
    gap: 24px;
}

.item {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-social {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-item {
    width: 40px;
    height: 40px;
}

.link-social.tims:hover,
.link-social.tims:focus {
    background-color: #404bbf;
}

.contacts.list {
    display: flex;
}

.benefits.list {
    display: flex;
    gap: 24px;
}

.tim {
    padding: 32px 0;
}

.header-text.team {
    text-align: center;
    margin-bottom: 8px;
}

.text.team {
    text-align: center;
    padding-bottom: 8px;
}

.section-title.portfolio {
    margin-bottom: 72px;
}

.container-app {
    position: relative;
    overflow: hidden;
}

.paragraph-app {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .paragraph-app {
    transform: translateY(0%);
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}

.portfolio.list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.app {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.header-text.apps {
    margin-bottom: 8px;
}

.title.one {
    margin: 0 auto 48px auto;
}

.nav-item {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item.strip::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-footer {
    display: flex;
    align-items: baseline;
}

.container-social {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.social-list {
    display: flex;
    gap: 16px;
}

.social-item {
    width: 40px;
    height: 40px;
}

.link-social {
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social:hover,
.link-social:focus {
    background-color: #31d0aa;
}

.container-logo {
    margin-right: 120px;
}

.social-paragraph {
    margin-bottom: 16px;
}

.icon-class {
    fill: #f4f4fd;
}

.link.logo-footer {
    text-decoration: none;
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    text-decoration: none;
}

.social-paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.container-footer-form {
    margin-left: auto;
}

.paragraph-footer-form {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.footet-form {
    display: flex;
    gap: 24px;
}

.input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.input::placeholder {
    color: #ffffff;
}

.button-footer-form {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.footer-form-icon {
    margin-left: 16px;

}

.backdrop.is-open {
    opacity: 1;
    pointer-events: auto;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 2;
    opacity: 0;
    pointer-events: none;
}

.modal {
    border-radius: 15px;
    width: 408px;
    min-height: 584px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 24px;
    padding-top: 72px;
    background: #fcfcfc;
    border-radius: 4px;
}

.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 0;
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-btn-icon {
    stroke: currentColor;
    color: 2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
    fill: #ffffff
}

.modal-paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
    color: var(--font-color);
}

.modal-form-field {
    margin-bottom: 8px;
}

.modal-form-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-form-input {
    display: block;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: #4D5AE5;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding: 11px 38px;
    background-color: transparent;
}

.modal-form-input:hover .modal-btn-icon {
    fill: #4D5AE5;
}

.modal-form-input:focus {
    border-color: #4D5AE5;
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: currentColor;
}

.modal-form-input:focus+.modal-form-icon {
    fill: #4D5AE5;
}

.modal-form-wrapper {
    position: relative;
}

.modal-form-field.comment {
    margin-bottom: 16px;
}

.modal-form-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea:focus {
    border-color: #4D5AE5;
}

.modal-form-field.box {
    margin-bottom: 24px;
}

.modal-form-privacy {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--label-color);
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.label-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

.modal-span-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: currentColor;
}

.modal-span-icon:hover {
    fill: #4D5AE5;
}

.modal-form-field input[type="checkbox"]:checked+label .label-span {
    background-color: var(--background-color);
    border: none;
    fill: var(--icon-fill-color);
}


.span-link {
    color: var(--link-color);
}

.button-modal-finish {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal-finish:hover {
    background-color: #0056b3;
}

.modal-span-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: currentColor;
}

.modal-span-icon:hover {
    fill: #FF5733;
}

.paragraph-footer-form {
    color: #ffffff;
}

.hero-conteiner {
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

@media screen and  (min-width: 768px) {
       .header-container {
    display: flex;
    align-items: center;
}
}

.container {
    width: 320px;
    padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        width: 1158px;
        padding: 0 15px;
    }
}

.page-nav {
    display: flex;
    align-items: center;
}

.link {
    text-decoration: none;
    color: #2e2f42;
    font-weight: 500;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
}

.link:hover,
.link:focus {
    color: #404BBF;
}

.logo-header {
        letter-spacing: 0.03em;
        margin-right: 144px;
            color: #4D5AE5;
            font-weight: 700;
            font-size: 18px;
            text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .logo-header {
    margin-right: 76px;
    }
}

.link.logo-header:hover,
.link.logo-header:focus {
    color: #404BBF;
}

.logo-dark {
    color: #2E2F42;
        }

.mobile-menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 0;
}

@media only screen and (min-width: 768px) {
    .mobile-menu-btn {
        display: none;
    }
}
.header-nav-list {
     display: flex;
     gap: 40px;
}

@media screen and (max-width: 767px) {
    .header-nav-list {
        display: none;
    }
}

.nav-item {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.strip ::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.link.link-strip {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
    margin-left: auto;
}

@media screen and (max-width: 767px) {
    .contacts {
        display: none;
    }
}

.header-list-contacts {
    display: flex;
    gap: 40px;
}

@media screen and (max-width: 767px) {
    .header-list-contacts {
        display: none;
    }
}

.link-contacts {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
    gap: 40px;
    margin-left: auto;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
}

.link-contacts:hover,
.link-contacts:focus {
    color: #404BBF;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: transform 400ms ease-in;
    background: #fff;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

.mobile-menu.is-open {
    transform: translateX(0);
}

.mobile-menu-container.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 72px 16px 40px;
}

.mobile-menu .mobile-menu-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    border: 3px solid #111111;
    border-radius: 50%;
}

.mobile-menu-btn-icon {}

.mobile-menu-nav {
    font-size: 36px;
    font-weight: 700;
    left: 1.11;
    letter-spacing: 0.02em;
}

.mobile-menu-nav .mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-menu-link {}

.mobile-menu-contacts .mobil-menu-item:first-child .mobile-menu-link {
    color: #4d5ae5;
}

.mobile-menu-contacts {
        font-size: 20px;
            font-weight: 500;
            left: 1.2;
            letter-spacing: 0.02em;
            margin-bottom: 48px;
}

.mobile-menu-contacts .mobile-menu-item:not(:last-child) {
    margin-bottom: 24px;
}

.mobil-menu-item {}

.mobil-menu-link {}

.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-menu-social-list {
    display: flex;
    gap: 16px;
}

.section {
     background-color: #2E2F42;
     color: #FFFFFF;
     margin: 0 auto;
}


.section-one {
        padding: 188px 0;
            width: 320px;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url("../images/img11.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
}


.title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}

.button {
    display: block;
     background-color: #4D5AE5;
     color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border-radius: 4px;
    width: 169px;
    height: 56px;
    border: none;
    margin: 0 auto;
}

.button.button-hero {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-two {
    background-color: #FFFFFF;
    color: #434455;
    padding: 96px 16px;
    width: 288px;
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.visually-hidden {
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.benefits {}

.list {}

.strategy-item {}

.container-icons {}

.icon-class {}

.fill-icon {}

.header-text {}

.text {}